# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Downloads
docker/downloads/
docker/3.16.1/SC2.3.16.1.zip
docker/3.17/SC2.3.17.zip
docker/4.0.2/SC2.4.0.2.zip
docker/4.1.2/SC2.4.1.2.60604_2018_05_16.zip

# Main binary
go-s2client
